<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.tripnote.dao.UserMapper" >

  <select id="selectByPrimaryKey" resultType="com.lenovo.tripnote.entity.User" >
    select `id` ,`name` ,`pwd` from user where  `id` = #{id}
  </select>

  <insert id="insert" parameterType="com.lenovo.tripnote.entity.User" useGeneratedKeys="true" >
    insert into user (`id` ,`name` ,`pwd` ) values (#{id},#{name},#{pwd})
  </insert>

  <delete id="deleteByPrimaryKey">
    delete from user where  `id` = #{id}
  </delete>

</mapper>