build/
target/
repos/
project/tripnote/src/main/resources/conf/sms.properties
tmp/
.settings
.settings/*
.project
.pydevproject
.classpath
*.idea
*.iml
*.class
**/test/resources/*.properties
/.gradle/

a/*
