body {
  background-color: #fff;
  font-family: microsoft yahei;
  font-size: 13px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
  border-radius: 3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0,0,0,0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

*{ padding: 0; margin: 0; }

// .tit{line-height: 1; word-break: break-all; border-left: 3px solid #3BABF3; padding-left: 10px; font-size: 16px;}
// 表格标题，右侧按钮组写入table-title__btns里
.table-title{
  display: flex;
  font-size: 14px;
  justify-content:space-between;
  align-items:center;
  height: 40px;
  margin-bottom: 10px
}
.table-title__text:before{
  content: "";
  float: left;
  width: 3px;
  height: 13px;
  background: #014b70;
  margin:3px 6px 0 0;
  vertical-align: initial;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{ background: #eee; border-bottom: 0; border-left: 0; border-right: 0;}
.table-bordered > tbody > tr > td{border-left: 0; border-right: 0;}
.table-bordered > tbody > tr:hover{background: #edf2f8;}


.nav li{ background: none; }
.nav-tabs{ margin-bottom: 15px !important; border: 0; background: #ebedee;padding-top: 5px;}
.ui-tabs .ui-tabs-nav li{ margin: 0; border: 1px solid #ccc;}
.nav-tabs>li{margin:0;}

.nav-tabs>li>a{ background: none; margin-right: 0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{ border:1px solid transparent;border-top: 3px solid #006ee6;}

/*.navLineage li.active{ background: #337ab7 !important; border: 1px solid #2e6da4 !important }*/
/*.navLineage li.active a,*/
/*.navLineage li.active:hover a{ color: #fff !important; }*/
.navLineage li a{ padding: 5px 30px !important;border-radius: 0; color:#555; border-top: 3px solid transparent;}
.navLineage li.active a{ color: #000;background: #fff; border-top: 3px solid #006ee6; }

#graph-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 60px;
  overflow: hidden;
  position: relative;
}

.node .node-shape {
  cursor: pointer;
  fill-opacity: .5;
  stroke-opacity: .8;
  -webkit-transition: fill-opacity .5s, stroke-opacity .5s;
     -moz-transition: fill-opacity .5s, stroke-opacity .5s;
       -o-transition: fill-opacity .5s, stroke-opacity .5s;
          transition: fill-opacity .5s, stroke-opacity .5s;

  /* Set No Stroke */
  stroke-width: 0;
}

.node .node-shape.rectangle,
.node .node-shape.square {
  shape-rendering: crispEdges;
}

.link {
  opacity: 1;
  fill: #bbb;
  fill-opacity: .2;
  stroke-width: 0;

  -webkit-transition: fill-opacity .5s;
     -moz-transition: fill-opacity .5s;
       -o-transition: fill-opacity .5s;
          transition: fill-opacity .5s;

  -webkit-transition: fill .5s;
     -moz-transition: fill .5s;
       -o-transition: fill .5s;
          transition: fill .5s;
}

.node .node-title {
  fill: white;
  pointer-events: none;
  font-family: Helvetica;
  font-size: 10px;
  opacity: 1.0;

  -webkit-transition: fill-opacity .5s;
     -moz-transition: fill-opacity .5s;
       -o-transition: fill-opacity .5s;
          transition: fill-opacity .5s;

  /* Make node text non-selectable to prevent accidental highlight on click+drag */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

/* Node menu button - darker on hover */
.node .node-menu-button {
  shape-rendering: crispEdges;
  fill-opacity: 0;
}
.node .node-menu-button:hover {
  fill-opacity: 0.5;
}
.node .node-menu-triangle {
  -webkit-transition: fill-opacity .5s;
     -moz-transition: fill-opacity .5s;
       -o-transition: fill-opacity .5s;
          transition: fill-opacity .5s;
}

/* Node Hidden */
.node.hidden .node-shape,
.node.hidden .node-title,
.node.hidden .node-menu-button,
.node.hidden .node-menu-triangle {
  fill-opacity: 0;
  stroke-opacity: 0;
}

/* Link Hidden */
.link.hidden {
  fill-opacity: 0;
}

/* Node highlight circle */
.node .node-circle {
  opacity: 0;
  fill: none;
  stroke-width: 2;
  stroke: blue;
  transition: opacity 0.2s ease;
}
.node.hovered .node-circle {
  opacity: .3;
  transition: opacity 0.2s ease;
}
.node.selected .node-circle {
  opacity: .3;
  stroke: red;
}

/* Node Context Menu */
#node-menu {
  position: absolute;
  display: none;
}
#node-menu .background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}
#node-menu ul {
  position: relative;
  padding: 4px 8px;
  list-style: none;
  margin: 0;
}
#node-menu li {
  color: white;
  padding: 4px;
  cursor: pointer;
  white-space: nowrap;
}
#node-menu li:hover {
  color: black;
}
#node-menu li.disabled {
  cursor: not-allowed;
}


/*** Controls ***/
.controls-con{float: right;border:1px solid #d9d9d9;height: 30px;border-radius: 3px}
.controls-con>div{display: inline-block;}
.controls-con .btn_search{width: 64px; cursor:pointer;background: #f3f3f3;height: 28px;float: right;text-align: center;line-height: 28px;}
#controls {
  z-index: 1;
}

/* button reset */
#controls button::-moz-focus-inner {
  border:0;
  padding:0
}
#controls button {
  width:auto;
  border:0 none;
  margin:0;
  padding:0;
  background:transparent;
  overflow:visible;
  /* Stupid IE */
  font:14px arial, sans-serif;
  #vertical-align:middle; /* IE6,IE7 */
}

/* General Styles */
#controls button,
#controls input {
  background: rgba(255,255,255,0.4);
  border: 1px solid #ccc;
  border-radius: 2px;

  -webkit-transition: color .2s, background-color .4s;
     -moz-transition: color .2s, background-color .4s;
       -o-transition: color .2s, background-color .4s;
          transition: color .2s, background-color .4s;
}
#controls .search-field {border:none;border-right:1px solid #ccc; }

#controls button:hover, #controls button:focus,
#controls input:hover, #controls input:focus {
  background-color: rgba(255,255,255,0.9);
}

#controls button:focus,
#controls input:focus {
  -webkit-box-shadow: 0px 0px 10px -2px #009cc7;
     -moz-box-shadow: 0px 0px 10px -2px #009cc7;
       -o-box-shadow: 0px 0px 10px -2px #009cc7;
          box-shadow: 0px 0px 10px -2px #009cc7;
}

/* Zoom Controls */
#controls .zoom {
  width: 32px;
}
#controls .zoom button {
  margin-top: 12px;
  width: 32px;
  height: 32px;
  outline: none;
}
#controls .zoom button:focus {
  color: #009cc7;
}
#controls .zoom button i {
  font-size: 10px;
}
#svg-canvas, #svg-canvas:focus{ outline: none !important; }

#svg-canvas, #svg-canvas *{ outline: none !important; }

.nodes text tspan{
  font-size:9px;
  fill:#fff;
}
.nodes text tspan.edge-node{
  font-size:9px;
  fill:#9ea1af;
  dy: -0.1em;
}

.minimap-attach{
  z-index: 99999;
}

.xtrace-tooltip {
	text-align: left;
  /*border: 1px solid red;*/
}

.xtrace-tooltip .key {
	display: inline-block;
	float: left;
	min-width: 90px;
	font-weight: bold;
}

.xtrace-tooltip .value {
	display: inline-block;
	float: left;
	word-wrap: break-word;
	max-width: 410px;
}

.xtrace-tooltip .clear {
	clear: both;
}

.context-menu .highlight {
	color: #7F2389;
}

.context-menu a:hover .highlight {
	color: #CA78D2;
}

text,tspan,.tipsy {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.context-menu {
    /*background: rgba(245, 245, 245, 0.7);*/
    background: #add8e6;
    border: 1px solid #999999;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.context-menu a {
    color: #333333;
    display: block;
    padding: 3px;
    text-decoration: none;
}
.context-menu a:hover {
	background: rgba(102, 102, 102, 0.7);
    color: white;
    text-decoration: none;
}

#footer{
  width:100%;
  float:right;
  display: block;
  padding-top: 3px;
}


.loading{ width: 89px; height: 89px;position: absolute;z-index: 100;top: 100px;left: 50%;margin-left: -45px;}
.loading:after{ content: ''; position: absolute; left: 0; top: 0; width: 89px; height: 89px;
  background: url(../../assets/images/loading_right.gif) center center no-repeat;
}

@-moz-keyframes rotate{
0%{
-moz-transform:rotate(0deg);
}
100%{
-moz-transform:rotate(360deg);
}
}
@-webkit-keyframes rotate{
0%{
-webkit-transform:rotate(0deg);
}
100%{
-webkit-transform:rotate(360deg);
}
}
@keyframes rotate{
0%{
transform:rotate(0deg);
}
100%{
transform:rotate(360deg);
}
}

.hidden{ display: none !important; }
.noData{ margin: 120px 0 0; text-align: center;}
.noData i{color:#3BABF3; vertical-align: bottom; margin-right: 10px; display: inline-block; width:22px; height: 22px; background: url('../images/no-alert.png') center center no-repeat}
.noData p{ margin-top: 20px; font-size: 14px;}

#canvas, #svg-canvas{width:100%; cursor: pointer;}
#canvas .node{cursor: pointer;}

.bottom-line{border-bottom: 1px solid #d9d9d9;padding-bottom: 10px;}
.row{margin: 0}
.act-full{height:40px;}
.actfull-con{float: right;height: 30px;margin-top: 10px;border-radius: 3px;border:1px solid #d9d9d9;}
.actfull-con span{width: 40px;height: 100%;display: inline-block;margin:0;text-align: center;line-height: 40px;background: #f3f3f3;cursor: pointer;}
.actfull-con span.active{background: #e7e8e8;}
.actfull-con span.pointer{margin-right: -3px;border-right: #d9d9d9;}
.actfull-con .icon{width: 18px;height: 20px;display: inline-block;background: url("../images/icon_zoom.png") no-repeat;}
.actfull-con .icon.icon_pointer{background-position: -72px -0px}
.actfull-con .active .icon.icon_pointer,
.actfull-con .icon.icon_pointer:hover{background-position:  -90px -0px}
.actfull-con .icon.icon_fullscreen{background-position: -0px -0px}
/*.actfull-con .active .icon.icon_fullscreen,*/
.actfull-con .icon.icon_fullscreen:hover{background-position:  -18px -0px}
.actfull-con .icon.icon_restore{background-position:  -36px -0px}
/*.actfull-con .active .icon.icon_restore,*/
.actfull-con .icon.icon_restore:hover{background-position: -54px -0px}

.main-canvas{padding: 20px;}
.tab-content{margin: 20px; position: relative;}
.nodeName{
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fullscreen{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  margin:0 0 100px;
  z-index:1000;
  overflow-y: scroll;
}
